export ADDR=":8080"
# export EXTERNAL_URL="localhost:3000"
export DB_ADDR="postgres://myuser:mypassword@localhost/mydatabase?sslmode=disable"
export MAILTRAP_API_KEY="d348488fa06ad604b3c328b6bedd4310"
export FROM_EMAIL="hello@demomailtrap.com"
export ENV="development"
export REDIS_ENABLE=false